body {
    margin: 80px;
    min-width: 320px;
    min-height: 100vh;
    /* background-image: url("https://marketplace.canva.com/EAE7OCpAiGI/1/0/1600w/canva-nude-pastel-simple-leaves-linktree-background-0MRaknqbAjk.jpg"); */
    /* background-size: cover;
    background-position: center;
    position: relative; */
    background-color: white;
}

.App {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

.slika {
    width: 50px;
    height: 50px;
}

.unos-i-tablica-container {
    display: flex;
    width: 80%;
    position: relative;
}

.unos-forma-container,
.tablica-container {
    flex: 1;
}

.tablica-container {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    /* background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/2/24/Blue_Tshirt.jpg/230px-Blue_Tshirt.jpg"); */
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type='text'] {
    margin-top: 5px;
    margin-left: 10px;
}

th {
    padding: 40px;
}
